#list_sub li {
	color: #333;
	/* Fallback background */
	background-color: #ddd;
	background: url('../img/bg/nav.png');
	background-repeat: repeat-x;
	/* Gradient backgrounds for respectively global definition, Chrome/Safari, Firefox, IE and Opera */
	background: -webkit-linear-gradient(top, #eee, #ddd);
	background: -moz-linear-gradient(top, #eee, #ddd);
	background: -ms-linear-gradient(top, #eee, #ddd);
	background: -o-linear-gradient(top, #eee, #ddd);
	background: linear-gradient(top, #eee, #ddd);
	padding: 20px 40px 20px 100px;
	font-size: 32px;
	font-weight: bold;
	box-shadow: inset 0 1px 5px #bbb;
}
