/* FONT */
@font-face {
	font-family: Ubuntu;
	src: url('../font/Ubuntu-R.eot'); /* Internet Explorer */
	src: local("Ubuntu"), url('../font/Ubuntu-R.ttf') format("truetype");
}

/* GLOBAL */
body {
	color: #222;
	background: url('../img/bg/main.png');
	font-family: Ubuntu;
	line-height: 1.2;
}
h1 {
	margin: 0 0 12px 0;
	font-size: 1.4em;
	font-weight: bold;
}
h2 {
	font-size: 1em;
	font-weight: bold;
}

/* LOGO */
#logo {
	margin: 15px 0 0 0;
}

/* MAIN */
#main {
	width: 1000px;
	/* border: dotted 1px #ff0; /* Development guide */
	margin: 0 auto;
}

/* Navigation */
#navigation {
	background-color: #822;
	background: url('../img/bg/nav.png');
	background-repeat: repeat-x;
	/* Gradient backgrounds for respectively global definition, Chrome/Safari, Firefox, IE and Opera */
	background: -webkit-linear-gradient(top, #a33, #822);
	background: -moz-linear-gradient(top, #a33, #822);
	background: -ms-linear-gradient(top, #a33, #822);
	background: -o-linear-gradient(top, #a33, #822);
	background: linear-gradient(top, #a33, #822);
	width: 100%;
	height: 40px;
	margin: 15px 0 0 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
#navigation li {
	height: 40px;
	float: left;
}
.nav_item {
	color: #fff;
	height: 100%;
	float: left;
	padding: 0 20px 0 40px;
	border-left: solid 1px rgba(0, 0, 0, .3);
	margin: 0;
	font-size: .8em;
	font-weight: bold;
	line-height: 40px;
	box-shadow: -1px 0 0 0 rgba(255, 255, 255, .12);
}
/* Individual navigation items */
#nav_item_home {
	background: url('../img/icons/home.png') no-repeat;
	background-position: 8px 8px;
	padding: 0 20px;
	border-left: none;
	box-shadow: none;
}
#nav_item_literature {
	background: url('../img/icons/literature.png') no-repeat;
	background-position: 14px 8px;
}
#nav_item_music {
	background: url('../img/icons/music.png') no-repeat;
	background-position: 14px 8px;
}
#nav_item_film {
	background: url('../img/icons/film.png') no-repeat;
	background-position: 14px 8px;
}
#nav_item_webdesign {
	background: url('../img/icons/webdesign.png') no-repeat;
	background-position: 14px 8px;
	/* Right notch */
	border-right: solid 1px rgba(0, 0, 0, .3);
	box-shadow: -1px 0 0 0 rgba(255, 255, 255, .12), inset -1px 0 0 0 rgba(255, 255, 255, .12);
}
/* Mouse-over effect */
#navigation li:hover {
	background-color: #822;
}

/* Breadcrumbs */
#breadcrumbs {
	color: #fff;
	margin: 15px 0;
	font-size: .75em;
	cursor: default;
}
#breadcrumbs a:hover {
	text-decoration: underline;
}

/* Content Container */
#content {
	background: #fff;
	width: 960px;
	padding: 20px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}
